.Home-Header {
    font-family: "Bebas Neue";
    font-size: 80px;
}

.Home-Container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: stretch;
    flex-basis: 40%;
    height: 50vh;
    padding: 16px;
}


.Home-Box-Header{
    background-color: var(--primary);
    border-radius: 56px 56px 0 0;
    padding: 24px 50px 8px 50px;
    font-size: 24px;
    margin: 0;
    border-color: var(--primary--dim);
    color: white;
}

.Home-doubleBox {
    background-color: var(--lightgrey);
    border-bottom: 0px solid ; /*ask how to make border everywhere in office hours*/
    border-color: var(--primary--dim);
    border-radius: 56px;
    margin: 16px;
    flex: 2 0 500px;
}

.Home-singleBox {
    background-color: var(--lightgrey);
    border-bottom: 0px solid ; /*ask how to make border everywhere in office hours*/
    border-color: var(--primary--dim);
    border-radius: 56px;
    margin: 16px;
    flex: 1 0 300px;
}

.Home-singlePlayerContentContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    padding: 16px 32px;
    align-items: center;
}

.Home-singlePlayerButton {
    width: 150px;
}

.Home-inputField {
    display: flex;
    align-items: center;
}