.Home-Header {
    margin-top: 10vh;
    top: 40;
    font-family: "Bebas Neue";
    font-size: 80px;
    margin-bottom: 16px;
}

.Home-Background {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Home-Container{
    display: flex;
    
    justify-content: center;
    flex-wrap: wrap;
    align-content: stretch;
    flex-basis: 40%;
    height: 50vh;
    padding: 16px;
    max-width: 1200px; 
}

.Home-singleContainer{
    display: flex;
    flex-wrap: wrap;
    /* flex: 2 0 664px; */
    /* height: 120%; */
    min-width: 500px;
    max-width: 80vw;
   
}

.Home-Box-Header{
    background-color: var(--primary);
    border-radius: 56px 56px 0 0;
    padding: 24px 50px 8px 50px;
    font-size: 24px;
    margin: 0;
    border-color: var(--primary--dim);
    color: rgb(255, 255, 255);
    text-align:center;
}

.Home-doubleBox {
    background-color: var(--lightgrey);
    border-bottom: 0px solid ; /*ask how to make border everywhere in office hours*/
    border-color: var(--primary--dim);
    border-radius: 56px;
    margin: 16px;
    flex: 2 0 600px;
}

.Home-singleBox {
    background-color: var(--lightgrey);
    border-bottom: 0px solid ; /*ask how to make border everywhere in office hours*/
    border-color: var(--primary--dim);
    border-radius: 56px;
    margin: 16px;
    flex: 1 0 350px;
    max-height:520px;
    width: 30vw;
}

.Home-singleBoxContent{
    height: 100%;
    
}

.Home-singlePlayerContentContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    padding: 16px 32px 16px;
    align-items: center;
    height: 77%
}

.Home-singlePlayerButton {
    width: 150px;
    justify-self: end;
    

}

.SinglePlayer-notLoggedInText{
margin: 8px 0px 16px;
}

.Home-inputField {
    display: flex;
    align-items: center;
}

.Home-lobbyBox{
    border: 1px solid var(--primary);
    background-color: white;
    
    border-radius: 32px;
    /* padding: 8px 32px; */
    margin: 16px 0;
}

.Home-lobbyContainer{
    padding: 16px;
}

.Home-lobbyBoxName{
    background-color: var(--primary);
    border-radius: 30px 0px 0px 30px;
    height: 40px;
    width: 15%;
    padding: 16px 32px;
    margin: 0 16px 0 0;
    color: white;
    display: inline-block;
}

.Home-LobbyPlayers{
    flex-wrap: wrap;
    height: 48px;
    margin: 0 16px;
    
    
}

.Home-LobbyCode{
    font-size: 24px;
}

.Home-LobbyInfoContainer{
    
    height: 56px;
    width: 300px;
    display: flex;
    align-items: center;

}

.Home-LobbyBoxPlayerNames{
    margin: 2px 8px;
}

.Home-imageCountSelector{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--darkgrey);
    height: 34px;
    width: 34px;
    border-radius: 32px;
    color: var(--darkgrey);
    margin: 0px 16px;
    cursor: pointer;
}

.Home-imageCountSelector:hover{
    background-color: var(--primary) !important;
    color: white !important;
    border: 1px solid var(--primary) !important;
}

.Home-imageCountSelector:active{
    background-color: var(--primary--dim) !important;
    color: white !important;
    border: 1px solid var(--primary--dim) !important;
}

.Home-imageCountSelector:nth-child(2){
    background-color: var(--primary);
    color: white;
    border: 1px solid var(--primary);
}