.Profile-Object {
    margin: calc(5vh - 16px) 0;
}

.shortHorizontalLine {
    height: 1px;
    width: 64px;
    background-color: var(--darkgrey);
    margin-left: calc(50% - 32px);
}

.Profile-Container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Skeleton-controls > * {
    margin: 5px;
}

img {
    height: 200px;
    margin: auto;
    margin-bottom: 16px;
    width: 200px;
    display: block;
}