.Profile-Object {
    margin: calc(5vh - 16px) 0;
}

.shortHorizontalLine {
    height: 1px;
    width: 64px;
    background-color: var(--darkgrey);
    margin-left: calc(50% - 32px);
}

.Profile-Container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Skeleton-controls > * {
    margin: 5px;
}

.Profile-picture {
    height: 300px;
    margin: auto;
    margin-bottom: 16px;
    max-width: 500px;
    display: block;
}

.Profile-ContentContainer{
    width: 100%;
    justify-content: center;
}

.Profile-verticalLine{
    flex-grow: 1 0 100%;
    width: 1px;
    background-color: black;
    margin: 32px 32px;
    height: 400px;
}

.Profile-Parts {
    width: 45vw;
}

.Profile-PictureExplanation {
    width: 70%;
    margin-left: 15%;
    line-height: 1.4;
    text-align:justify;
    text-align-last: center;
}