.Profile-Object {
    margin: calc(5vh - 16px) 0;
}

.shortHorizontalLine {
    height: 1px;
    width: 64px;
    background-color: var(--darkgrey);
    margin-left: calc(50% - 32px);
}

.Profile-Container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Skeleton-controls > * {
    margin: 5px;
}

.Profile-picture {
    height: 300px;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 16px;
    max-width: 500px;
    display: block;
}

.Profile-ContentContainer{
    width: 100%;
    justify-content: center;
}

.Profile-verticalLine{
    flex-grow: 1 0 100%;
    width: 1px;
    background-color: black;
    margin: 32px 32px;
    height: 90%;
}

.Profile-Parts {
    width: 45vw;
}

.Profile-PictureExplanation {
    width: 70%;
    margin-left: 15%;
    line-height: 1.4;
    text-align:justify;
    text-align-last: center;
}

.Profile-rankListContainer{
    margin: 32px;
}

.Profile-imageCountSelector{
    background-color: var(--darkgrey);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    border-radius: 32px;
    color: white;
    margin: 0px 16px;
    cursor: pointer;
}

.Profile-imageCountSelector:hover{
    background-color: var(--primary) !important;
}

.Profile-imageCountSelector:active{
    background-color: var(--primary--dim) !important;
}

.Profile-imageCountSelector:nth-child(2){
    background-color: var(--primary);
}