.SinglePlayer-container {
    background-color: var(--lightgrey);
    width:100vw;
    height: calc(100vh - 59px);
    margin: 0px;
    display: flex;
}

.SinglePlayer-SearchImageContainer {
    background-color: var(--primary--dim);
    width: 70%;
    height: 100%;
    overflow: hidden;
}

.SinglePlayer-ImageContainer{
    overflow: hidden;
}

.SinglePlayer-SideBarContainer {
    overflow: hidden;
    z-index: 10;
    background-color: var(--primary--dim);
    width: 30%;
    height: 100%;
    padding: 0 16px;
    color: white;
}


.SinglePlayer-Image {
    position: relative;
    margin-left: 00px;
    margin-top: 0px;
    height: 912px;
    /* height: calc(971px - 59px); */
    /* margin-left: calc(90px + 70vw - 150vh); */
}

.SinglePlayer-ButtonPanelMove {
    z-index: 11;
    position: absolute;
    width: 200px;
    height: 168px;
    border-radius: 32px;
    background-color: var(--primary);
    left: calc(85vw - 112px);
    top: calc(232px);
    /* left: calc(35vw - 91px);
    top: calc(85vh - 91px); */
}

.SinglePlayer-button {
    cursor: pointer;
    margin: 8px;
    border: 0px solid;
    outline: 0;
    border-radius: 32px;
    width: 75px;
    padding: 8px 0px;
    font-size: 16px;
    background-color: var(--darkgrey);
    color: white;
}

.SinglePlayer-button:hover{
    background-color: var(--primary--dim);
}

.SinglePlayer-ButtonPanelZoom {
    color: white;
    z-index: 12;
    position: absolute;
    width: 200px;
    height: 70px;
    border-radius: 32px;
    background-color: var(--primary);
    left: calc(85vw - 112px);
    top: calc(416px);
    /* left: calc(35vw - 91px);
    top: calc(85vh - 91px); */
}

.SinglePlayer-Timers {
position: absolute;

 background-color:var(--primary);
 /* border: 2px solid var(--darkgrey); */
 padding: 16px 0px 8px 0px; 
 border-radius: 32px;
 top: calc(502px);
 left: calc(85vw - 112px);
 /* margin-left: calc(15vw - 105px); */
 width: 200px;
}

.SinglePlayer-box {
    /* z-index: 30; */
    position: absolute;
    /* margin-top: calc(59px - 100vh);
    margin-left: 200px; */
    top: 309px;
    left: 1264px;
    width: 20px;
    height: 29px;
    opacity: 0;
    background-color: black;
    cursor: pointer;
}

.SinglePlayer-face {
    /* z-index: 20; */
    position: absolute;
    border: 0px solid red;
    /* margin-top: calc(59px - 100vh);
    margin-left: 200px; */
    top: 311px;
    left: 1266px;
    width: 16px;
    height: 25px;
    opacity: 1;
    /* background-color: black; */
}
.sp-face{
    
    width: 100%;
    height: 100%;
}

.SinglePlayer-SideBarPictureContainer {
    position: absolute;
    z-index: 15;
    border: 2px solid var(--primary);
    border-radius: 32px;
    max-width: 196px;
    max-height: 300px;
    height: calc(100vh - 680px);
    min-height: calc(100px);
    background-color: var(--primary);
    left: calc(calc(85vw + 214.7px) - 33.3vh);
    top: calc(654px);
}

.SinglePlayer-SideBarPicture{
    border-radius: 32px;
    /* width: 100%; */
    height: 100%;
}

.SinglePlayer-ImageCredit{
    margin: -8px 0 -6px 0;
    font-size:10px;
}

.SinglePlayer-GameOver {
    z-index: 16;
    position: absolute;
    left: calc(25vw - 5px);
    top: calc(25vh - 5px);
    width: 50vw;
    height: 50vh;
    background-color: var(--primary);
    border: 5px solid var(--darkgrey);
    color: white;
    border-radius: 56px;
    opacity: 1;
    padding: 16px;
}

.SinglePlayer-GameOverContainer {
    z-index: 16;
    position: absolute;
    left: calc(25vw - 5px);
    top: calc(25vh - 5px);
    width: 50vw;
    height: 50vh;
    background-color: var(--primary);
    border: 5px solid var(--darkgrey);
    color: white;
    border-radius: 56px;
    opacity: 1;
    padding: 16px;
    opacity: 0;
}

.SinglePlayer-dimBackground{
    z-index: 15;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.SinglePlayer-GameOverButton{
    margin: 16px;
    border: 0px solid;
    outline: 0;
    border-radius: 32px;
    padding: 8px 32px;
    font-size: 16px;
    background-color: var(--darkgrey);
    color: white;
}

.SinglePlayer-GameOverButton:hover{
    background-color: var(--primary--dim);
}

.SinglePlayer-CheatPreventer{
    z-index: 10;
    position: absolute;
    top: 0px;
    left: 100vw;
    width: 450px;
    height: 100vh;
    background-color: var(--primary--dim);
}

.SinglePlayer-ProgressContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Bebas Neue";
    color: white;
    font-size: 30px;
    position: absolute;
    padding: 16px 0px 8px 0px; 
    border-radius: 32px;
    z-index: 15;
    border-radius: 32px;
    width: 200px;
    background-color: var(--primary);
    left: calc(85vw - 112px);
    top: calc(578px);
}

.SinglePlayer-loading{
    /* z-index: 15; */
    background-color: black;
    opacity: 0.7;
    position: absolute;
    width: 70vw;
    height: calc(100vh - 59px);
    top: 59px;
    left: 0;
}

.SinglePlayer-loadingText{
    z-index: 16;
    color: white;
    position:absolute;
    top: 450px;
    left: calc(35vw - 20px);
}