.SPGO-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2vh;
}

.SPGO-timeBox{
    width: 100%;
    background-color: var(--lightgrey);
    border-radius: 32px;
    padding: 8px 32px;
    margin: 4px;
}

.SPGO-timesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    padding: 16px;
    text-align: center;
}

.SPGO-timeBox:first-child{
    background-color: gold;
    width: 50vw;
    font-size: 24px;
}

.SPGO-timeBox:nth-child(2){
    background-color: silver;
    width: 48vw;
    font-size: 22px;
}

.SPGO-timeBox:nth-child(3){
    background-color: burlywood;
    width: 46vw;
    font-size: 20px;
}

.SPGO-shortHorizontalLine {
    height: 1px;
    width: 64px;
    background-color: var(--darkgrey);
}