.SPGO-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2vh;
}

.SPGO-timeBox{
    width: 80%;
    background-color: var(--lightgrey);
    border-radius: 32px;
    padding: 8px 32px;
    margin: 4px;
}

.SPGO-timesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 32px 0px;
    text-align: center;
}

.SPGO-timeBox:first-child{
    background-color: gold;
    width: 100%;
    font-size: 24px;
    
}

.SPGO-timeBox:nth-child(2){
    background-color: silver;
    width: 96%;
    font-size: 22px;
}

.SPGO-timeBox:nth-child(3){
    background-color: burlywood;
    width: 92%;
    font-size: 20px;
}

.SPGO-shortHorizontalLine {
    height: 1px;
    width: 64px;
    background-color: var(--darkgrey);
}

.SPGO-ranklistContainer{
    width: 30vw;
    min-width: 600px;
    margin: 0px 64px;
}

.SPGO-ranklistsContainer{
    width: 100vw;
    
}

.SPGO-lastTimeBox{
    /* border: 2px solid var(--darkgrey); */
}

.SPGO-lastTime{
    display: inline-block;
    background-color: var(--primary);
    border-radius: 32px;
    margin-left: auto;
    color: white;
    margin: 0px;
    font-size: inherit;
    margin-top: auto;
    height: 120%;
    padding: 0px 8px;
    float: left;
    margin-right: -200px;
    margin-left: -20px;
}

.SPGO-placeholderTime{
    height: 1px;
    width: 64px;
    background-color: var(--darkgrey);
    margin: 8px;
}

.SPGO-usernameBox{
    z-index: 30;
    display: inline-block;
    background-color: var(--darkgrey);
    border-radius: 32px;
    margin-left: auto;
    color: white;
    margin: 0px;
    font-size: inherit;
    margin-top: 0px;
    height: 120%;
    padding: 0px 16px;
    margin-left: 16px;
    margin-right: -16px;
    /* float: right; */
    /* margin-left: -200px;
    margin-right: -60px; */
}

.SPGO-NavOutContainer{
    position: fixed;
    top: 80vh;
    background-color: white;
    border-radius: 32px;

}

.SPGO-NavOutPlaceholder{
    height: 200px;
    width: 200px;
}

.SPGO-imageCountSelector{
    background-color: var(--darkgrey);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    border-radius: 32px;
    color: white;
    margin: 0px 16px;
    cursor: pointer;
}

.SPGO-imageCountSelector:hover{
    background-color: var(--primary) !important;
}

.SPGO-imageCountSelector:active{
    background-color: var(--primary--dim) !important;
}
