.SinglePlayer-container {
    background-color: var(--lightgrey);
    width:100vw;
    height: calc(100vh - 59px);
    margin: 0px;
    display: flex;
}

.SinglePlayer-SearchImageContainer {
    background-color: var(--primary);
    width: 70%;
    height: 100%;
    overflow: hidden;
}

.SinglePlayer-SideBarContainer {
    background-color: var(--primary--dim);
    width: 30%;
    height: 100%;
    padding: 0 16px;
    color: white;
}


.SinglePlayer-Image {
    margin-left: 00px;
    margin-top: 0px;
    height: calc(100vh - 59px);
    cursor: move;
    /* margin-left: calc(90px + 70vw - 150vh); */
}

.SinglePlayer-ButtonPanelMove {
    position: absolute;
    width: 200px;
    height: 168px;
    border-radius: 84px;
    background-color: var(--primary);
    left: calc(85vw - 105px);
    top: calc(200px);
    /* left: calc(35vw - 91px);
    top: calc(85vh - 91px); */
}

.SinglePlayer-button {
    cursor: pointer;
    margin: 8px;
    border: 0px solid;
    outline: 0;
    border-radius: 32px;
    width: 75px;
    padding: 8px 0px;
    font-size: 16px;
    background-color: var(--darkgrey);
    color: white;
}

.SinglePlayer-button:hover{
    background-color: var(--primary--dim);
}

.SinglePlayer-ButtonPanelZoom {
    position: absolute;
    width: 200px;
    height: 70px;
    border-radius: 32px;
    background-color: var(--primary);
    left: calc(85vw - 105px);
    top: calc(384px);
    /* left: calc(35vw - 91px);
    top: calc(85vh - 91px); */
}