.changeUsername-input {
    border: 1px solid;
    border-radius: 32px;
    padding: 8px 32px;
    color: var(--darkgrey);
    transition: border-color 0.2s;
    font-family: "Montserrat";
    font-size: 16px;
    width: 200px;
    outline: 0px;
}

.changeUsername-input:focus {
    color: var(--primary--dim);
    border-bottom: 2px solid;
}

.changeUsername-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.changeUsername-submit {
    border: 1px solid;
    outline: 0;
    border-radius: 32px;
    padding: 8px 32px;
    margin: 16px;
    font-size: 16px;
    background-color: var(--darkgrey);
    color: white;
}

.changeUsername-submit:hover{
    background-color: var(--primary);
}

.changeUsername-submit:active{
    background-color: var(--primary--dim);
}