.NavBar-container {
    padding: var(--s) var(--m);
    background-color: var(--darkgrey);
    display: flex;
    align-items: center;
}

.NavBar-title {
    color: var(--lightgrey);
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
  }

  .LoginButton{
    margin-left: auto;
  }