.NavBar-container {
    padding: var(--s) var(--m);
    background-color: var(--darkgrey);
    display: flex;
    align-items: center;
}

.NavBar-title {
    color: var(--white);
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
    margin: 0 0 0 0;
  }

  .LoginButton{
    margin-left: auto;
  }

  .NavBar-link,
  .NavBar-link:visited {
      color: var(--white);
      font-size: 20px;
      text-decoration: none;
      margin: 0 0 0 1em;
  }

  .NavBar-link:hover{
      color: var(--midgrey);
  }