.App-container {
    max-width: 960px;
    padding: var(--m) var(--m);
    margin: auto;
  }
  
  .App-input {
    border: 1px solid;
    border-radius: 32px;
    padding: 8px 32px;
    color: var(--darkgrey);
    transition: border-color 0.2s;
    font-family: "Montserrat";
    font-size: 16px;
    width: 200px;
    outline: 0px;
    margin: 16px 0;
}

.App-input:focus {
    color: var(--primary--dim);
    border-bottom: 2px solid;
}

.App-submit {
    margin: 0px 16px 16px 16px;
    border: 1px solid;
    outline: 0;
    border-radius: 32px;
    padding: 8px 32px;
    font-size: 16px;
    background-color: var(--darkgrey);
    color: white;
}

.App-submit:hover{
    background-color: var(--primary);
}

.App-fileUpload{
    font-family: "Montserrat";
}